:root {
    //-- цвета --//
    --background-color: #f3f3f2;
    --block-background-color: #ffffff;

    --color-orange: #ffa343;
    --color-orange-hover: #ffb25f;

    //-- разметка --//
}

body {
    --color-foreground: #a6accd;
    --color-background: #181818;
    --color-background-block: #262727;
}

